.data-box {
    width: 14.2%;
    font-size: 80%;
    text-align: center;
    font-weight: bold;
}
.data-container {
    margin-left: auto;
    margin-right: auto;
    padding: 3vmin;
}

.chartHead {
    background: #be5108;
    box-shadow: 0 1 1 1 lightgray;
    color: white;
    padding: 1vmin;
    border: 1px solid lightgrey;
}

.chartContainer {
    padding: 0.5vmin;
    border: 1px solid lightgrey;
    border-top: none;
    background: white;
}

h2 {
    text-align: center;
}