<hr>
<h2>Line Demo</h2>
<div class="row">
  <div class="col-md-6">
    <canvas baseChart width="400" height="400"
      [datasets]="chartData"
      [labels]="labels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"></canvas>
  </div>
  <div class="col-md-6">
    <div id='data-container'>
      <div class="row">
        <div *ngFor="let label of labels" class="data-box">
          {{label}}
        </div>
      </div>
    </div>

    <div class="row" *ngFor="let set of chartData; let id = index">
      <div *ngFor="let data of chartData[id].data; let dataIndex = index" 
      class="data-box">{{data}}</div>
    </div>
    

  </div>
</div>